body {background-color: #ddd;}
table {border-collapse: collapse;}

p {padding: 5px; font-weight: bold;}

span.attribute {vertical-align: top; font-size: 80%;}
th {padding: 5px; border: solid black 1px;}
td {padding: 5px; border: solid black 1px; background-color:#fff;}

.dhl A:link, A:visited {float:left; padding: 5px; border-right: solid #eee 1px; background-color:blue; color:white; text-decoration:none;}
.dhln A:link, A:visited {float:left; padding: 5px; border-right: solid #ddd 1px; background-color:white; color:blue; text-decoration:none;}
.navt, .navb {padding: 0 0 30px 0;}

span.hl {padding: 0 2px 0 2px; background-color:yellow;}
#fview, #click_qsview, .ebutton, #t_add_rec {display:none;}

.click {padding: 3px 3px 3px 3px; background-color: #eee; width:285px; text-align:center;}
.click A:link, A:visited {text-decoration: none;}
.click A:hover {padding: 0 2px 0 2px; background-color: #eee;}
.rows {background-color: #ccc;}
.record {width:700px; margin:5px; background-color: #ddd;}
.srch {width:30px;}

#riv { padding: 10px 0 10px 0;}

#uname, #passwd {width:200px;}
.unamed, .passwdd { height:30px;}
.logind {}

.unamed-t {float:left; padding: 0 5px 0 0;}
.passwdd-t {float:left; padding: 0 5px 0 4px;}

.dbinput {width:400px; display:none;}
.dbinput2 {width:400px;}

.modal-cancel {}

.brk { clear:both; }
.spc {padding: 0 0 10px 0;}
.spc5 {padding: 0 0 5px 0;}