body {background-color: #aaaaaa;}
table {border-collapse: collapse; border: solid black 1px; background-color: #cccccc;}
p {padding: 5px; font-weight: bold;}
/*
input[type=text] {vertical-align: bottom; width: 100%; font-size: 80%;}
input[type=checkbox] {vertical-align: top; font-size: 80%;}
*/
span.attribute {vertical-align: top; font-size: 80%;}
th {padding: 5px; border: solid black 1px;}
td {padding: 5px; border: solid black 1px;}
span.hl {padding: 0 2px 0 2px; /* margin: 0 2px 0 2px; */ background-color:yellow; /*color:white;*/}
#fview, #click_qsview, .ebutton, #t_add_rec {display:none;}
.click {padding: 3px 3px 3px 3px; background-color: #dddddd; color:green; /*width: 245px;*/ }
.click A:link, A:visited {text-decoration: none}
.click A:hover {padding: 0 2px 0 2px; background-color: #eeffee;}
.rows {background-color: #cccccc;}
.record {width:700px; margin:5px; background-color: #dddddd;}
.srch {width:30px;}

#uname, #passwd {width:200px;}
.unamed, .passwdd { height:30px;}
.logind {}

.unamed-t {float:left; padding: 0 5px 0 0;}
.passwdd-t {float:left; padding: 0 5px 0 4px;}

.dbinput {width:400px; display:none;}
.dbinput2 {width:400px;}

.modal-cancel {}